body {
    background-color: darkslateblue;
}

#recoveryContainer {
    width: 40%;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    font-family: sans-serif;
    background-color: cornflowerblue;
    color: white;
}

.btnPasswordRecovery {
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    background-color: darkslateblue;
    border-color: darkslateblue;
    color: white;
    width: 30%;
    padding: 5px;
}

.txtPasswordRecovery {
    border-radius: 5px;
    width: 65%;
    font-size: 16px;
}

.lblPasswordRecovery {
    font-size: 24px;
    font-weight: bold;
}
